<div class="modal-header">
  <h2 id="jhi-venta-heading" jhiTranslate="tiendaOnlineApp.venta.home.createOrEditLabel">Create or edit a Venta</h2>
</div>
<div class="modal-body">
  <div class="row justify-content-center p-4">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="form-group" [hidden]="!venta.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="tiendaOnlineApp.venta.fechaVenta" for="field_fechaVenta">Fecha Venta</label>
            <div class="input-group">
              <input
                id="field_fechaVenta"
                type="text"
                class="form-control"
                name="fechaVenta"
                ngbDatepicker
                #fechaVentaDp="ngbDatepicker"
                formControlName="fechaVenta"
              />
              <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="fechaVentaDp.toggle()">
                  <fa-icon [icon]="'calendar-alt'"></fa-icon>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="tiendaOnlineApp.venta.precioVenta" for="field_precioVenta">Precio Venta</label>
            <input
              type="number"
              class="form-control"
              name="precioVenta"
              id="field_precioVenta"
              formControlName="precioVenta"
              [(ngModel)]="total"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="tiendaOnlineApp.venta.cliente" for="field_cliente">Cliente</label>
            <select #teams class="form-control" id="field_cliente" name="cliente" formControlName="clienteId" (change)="ons(teams.value)">
              <option [ngValue]="null"></option>
              <option [ngValue]="clienteOption" *ngFor="let clienteOption of clientes">{{ clienteOption.email }}</option>
            </select>
            <select class="form-control mt-2" name="direccion" id="field_direccion" *ngIf="selectVisible" formControlName="direccion">
              <option></option>
              <option [ngValue]="i" *ngFor="let i of dire">{{ i.pais + ' - ' + i.provincia + ' - ' + i.piso + '%' }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_productos">Productos</label>
            <div class="d-flex ">
              <input
                class="form-control"
                formControlName="productos"
                type="text"
                list="listProd"
                value="{{ selectedProd }}"
                [(ngModel)]="selectedProd"
              />
              <datalist id="listProd">
                <option *ngFor="let p of productos" [value]="p.nombre">{{ p.nombre }}</option>
              </datalist>
              <div class="text-right">
                <span class="btn btn-primary" (click)="onSelectProd()">></span>
              </div>
            </div>
            <table class="table table-bordered" *ngIf="listProd.length > 0">
              <tr *ngFor="let prod of listProd; let i = index" class="">
                <span>{{ prod.nombre }}</span>

                <a (click)="deleteProd(i)">
                  <fa-icon [icon]="'times'" class="fa"></fa-icon>
                </a>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_productos">Video Juegos</label>
            <div class="d-flex ">
              <input
                class="form-control"
                formControlName="productos"
                type="text"
                list="listVid"
                value="{{ selectedVid }}"
                [(ngModel)]="selectedVid"
              />
              <datalist id="listVid">
                <option *ngFor="let v of videojuegos" [value]="v.titulo">{{ v.titulo }}</option>
              </datalist>
              <div class="text-right">
                <span class="btn btn-primary" (click)="onSelectVid()">></span>
              </div>
            </div>
            <table class="table table-bordered" *ngIf="listVid.length > 0">
              <tr *ngFor="let vid of listVid; let i = index" class="">
                <span>{{ vid.titulo }}</span>
                <a (click)="deleteVid(i)">
                  <fa-icon [icon]="'times'" class="fa"></fa-icon>
                </a>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
          <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
