<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="valoraciones">
            <h2><span jhiTranslate="tiendaOnlineApp.valoraciones.detail.title">Valoraciones</span> {{valoraciones.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tiendaOnlineApp.valoraciones.puntuacion">Puntuacion</span></dt>
                <dd>
                    <span>{{valoraciones.puntuacion}}</span>
                </dd>
                <dt><span jhiTranslate="tiendaOnlineApp.valoraciones.comentario">Comentario</span></dt>
                <dd>
                    <span>{{valoraciones.comentario}}</span>
                </dd>
                <dt><span jhiTranslate="tiendaOnlineApp.valoraciones.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="valoraciones.clienteId">
                        <a [routerLink]="['/cliente', valoraciones.clienteId, 'view']">{{valoraciones.clienteId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/valoraciones', valoraciones.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
