<div>
    <h2 id="page-heading">
        <span jhiTranslate="tiendaOnlineApp.direccion.home.title">Direccions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-direccion" [routerLink]="['/direccion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tiendaOnlineApp.direccion.home.createLabel">
            Create new Direccion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="direccions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pais"><span jhiTranslate="tiendaOnlineApp.direccion.pais">Pais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provincia"><span jhiTranslate="tiendaOnlineApp.direccion.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ciudad"><span jhiTranslate="tiendaOnlineApp.direccion.ciudad">Ciudad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="calle"><span jhiTranslate="tiendaOnlineApp.direccion.calle">Calle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="portal"><span jhiTranslate="tiendaOnlineApp.direccion.portal">Portal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="escalera"><span jhiTranslate="tiendaOnlineApp.direccion.escalera">Escalera</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="piso"><span jhiTranslate="tiendaOnlineApp.direccion.piso">Piso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="letra"><span jhiTranslate="tiendaOnlineApp.direccion.letra">Letra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="tiendaOnlineApp.direccion.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let direccion of direccions ;trackBy: trackId">
                <td><a [routerLink]="['/direccion', direccion.id, 'view' ]">{{direccion.id}}</a></td>
                <td>{{direccion.pais}}</td>
                <td>{{direccion.provincia}}</td>
                <td>{{direccion.ciudad}}</td>
                <td>{{direccion.calle}}</td>
                <td>{{direccion.portal}}</td>
                <td>{{direccion.escalera}}</td>
                <td>{{direccion.piso}}</td>
                <td>{{direccion.letra}}</td>
                <td>
                    <div *ngIf="direccion.clienteId">
                        <a [routerLink]="['../cliente', direccion.clienteId , 'view' ]" >{{direccion.clienteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/direccion', direccion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/direccion', direccion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'direccion', { outlets: { popup: direccion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="direccions && direccions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
