<div class="container d-flex justify-content-center">
    <figure class="card card-product-grid card-lg">
        <a [routerLink]="['/producto', producto.id, 'view' ]" class="img-wrap" data-abc="true">
            <span class="title row d-flex col-4">{{producto.id}}</span>
            <img class="imagen" alt="{{producto.nombre}}" *ngIf="producto.imagen" [src]="url">
            <img class="imagen" alt="{{producto.nombre}}" *ngIf="!producto.imagen" src="https://as01.epimg.net/img/meristation/placeholder-cover.png">
        </a>
        <figcaption class="info-wrap">
            <div class="row">
                <div class="col-md-9 col-xs-9 "> <a [routerLink]="['/producto', producto.id, 'view' ]" class="title d-block text-truncate" data-abc="true">{{producto.nombre}}</a></div>
                <div class="col-md-3 col-xs-3">
                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated row">{{producto.plataformas}}</span> </div>
                </div>
            </div>
        </figcaption>
        <div class="bottom-wrap-payment">
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a [routerLink]="['/producto', producto.id, 'view' ]" class="title" data-abc="true">{{producto.precio | currency:'EUR':true}}</a> <span class="rated">{{producto.stock}} Disponibles</span> </div>
                </div>
            </figcaption>
        </div>
        <div class="bottom-wrap ">
            <div class="price-wrap d-flex justify-content-between flex-row">
                <button type="submit"
                    [routerLink]="['/', 'producto', { outlets: { popup: producto.id + '/delete'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn-danger btn-sm">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            <div class="price-wrap ">
                <button type="submit"
                    (click)="openEditModal()"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn-primary btn-sm">
                    <fa-icon [icon]="'times'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
            </div>
        </div>
    </figure>
</div>
