<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img [src]="caratula" alt="" class="img-fluid mh-img" />
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.compannia" for="field_compannia">Compannia</label>
          <input class="form-control" formControlName="compannia" type="text" list="comps" value="{{selectedComp}}" [(ngModel)]="selectedComp" (ngModelChange)="onSelectCompannia()"/>
            <datalist id="comps">
              <option *ngFor="let c of compannias" [value]="c.nombre">{{c.nombre}}</option>
            </datalist>
        </div>
        <div class="form-group">
          <label jhiTranslate="tiendaOnlineApp.videoJuegos.plataforma" for="field_plataformas">Plataforma</label>
          <div class="d-flex">
            <input class="form-control" formControlName="plataformas" type="text" list="plats" value="{{selectedPlat}}" [(ngModel)]="selectedPlat"/>
            <datalist id="plats">
              <option *ngFor="let p of plataformas" [value]="p.nombre">{{p.nombre}}</option>
            </datalist>
            <div class="text-right">
              <span class="btn btn-primary" (click)="onSelectPlataforma()">></span>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
          </div>
          <table class="table table-bordered" *ngIf="listCat.length>0">
                <tr *ngFor="let cat of listCat; let i = index">
                    <span>{{cat.nombre}}</span>
                    <a (click)="deleteCat(i)">
                        <fa-icon [icon]="'times'" class="fa"></fa-icon>
                    </a>
                </tr>
        </table>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>
          <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
      <div class="col-6">
        <h2 id="jhi-video-juegos-heading" jhiTranslate="tiendaOnlineApp.videoJuegos.home.createOrEditLabel">
          Create or edit a Video Juegos
        </h2>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!videoJuego.id">
          <label for="id" jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.titulo" for="field_titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" formControlName="titulo" />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.sinopsis" for="field_sinopsis">Sinopsis</label>
          <input type="text" class="form-control" name="sinopsis" id="field_sinopsis" formControlName="sinopsis" />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.pegi" for="field_pegi">Pegi</label>
          <div class="d-flex justify-content-center">
            <a (click)="selectPegi('PEGI3')"
              ><img
                class="mr-3"
                [ngClass]="isPegi3 ? '' : 'opacity'"
                alt="PEGI3"
                src="../../../content/images/PEGI3.png"
                width="55px"
                height="64px"
            /></a>
            <a (click)="selectPegi('PEGI7')"
              ><img
                class="mr-3"
                [ngClass]="isPegi7 ? '' : 'opacity'"
                alt="PEGI7"
                src="../../../content/images/PEGI7.png"
                width="55px"
                height="64px"
            /></a>
            <a (click)="selectPegi('PEGI12')"
              ><img
                class="mr-3"
                [ngClass]="isPegi12 ? '' : 'opacity'"
                alt="PEGI12"
                src="../../../content/images/PEGI12.png"
                width="55px"
                height="64px"
            /></a>
            <a (click)="selectPegi('PEGI16')"
              ><img
                class="mr-3"
                [ngClass]="isPegi16 ? '' : 'opacity'"
                alt="PEGI16"
                src="../../../content/images/PEGI16.png"
                width="55px"
                height="64px"
            /></a>
            <a (click)="selectPegi('PEGI18')"
              ><img
                class="mr-3"
                [ngClass]="isPegi18 ? '' : 'opacity'"
                alt="PEGI18"
                src="../../../content/images/PEGI18.png"
                width="55px"
                height="64px"
            /></a>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.fechaLanzamiento" for="field_fechaLanzamiento"
            >Fecha Lanzamiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaLanzamiento"
              type="text"
              class="form-control"
              name="fechaLanzamiento"
              ngbDatepicker
              #fechaLanzamientoDp="ngbDatepicker"
              formControlName="fechaLanzamiento"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaLanzamientoDp.toggle()">
                <fa-icon [icon]="'calendar-alt'"></fa-icon>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" formControlName="precio" />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.stock" for="field_stock">Stock</label>
          <input type="number" class="form-control" name="stock" id="field_stock" formControlName="stock" />
        </div>
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.caratula" for="field_caratula">Caratula</label>
          <div class="d-flex">
            <input type="file" (change)="onChangeCaratula($event)" />
          </div>
        </div>
      </div>
    </div>
</div>
