<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-video-juegos-heading" jhiTranslate="tiendaOnlineApp.videoJuegos.home.createOrEditLabel">Create or edit a Video Juegos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!videoJuegos.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.sinopsis" for="field_sinopsis">Sinopsis</label>
                    <input type="text" class="form-control" name="sinopsis" id="field_sinopsis"
                           formControlName="sinopsis"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.pegi" for="field_pegi">Pegi</label>
                    <select class="form-control" name="pegi" formControlName="pegi" id="field_pegi">
                        <option value="PEGI3">{{'tiendaOnlineApp.Pegi.PEGI3' | translate}}</option>
                        <option value="PEGI7">{{'tiendaOnlineApp.Pegi.PEGI7' | translate}}</option>
                        <option value="PEGI12">{{'tiendaOnlineApp.Pegi.PEGI12' | translate}}</option>
                        <option value="PEGI16">{{'tiendaOnlineApp.Pegi.PEGI16' | translate}}</option>
                        <option value="PEGI18">{{'tiendaOnlineApp.Pegi.PEGI18' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.fechaLanzamiento" for="field_fechaLanzamiento">Fecha Lanzamiento</label>
                    <div class="input-group">
                        <input id="field_fechaLanzamiento" type="text" class="form-control" name="fechaLanzamiento" ngbDatepicker  #fechaLanzamientoDp="ngbDatepicker" formControlName="fechaLanzamiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaLanzamientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                           formControlName="precio"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.stock" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                           formControlName="stock"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.caratula" for="field_caratula">Caratula</label>
                    <select class="form-control" id="field_caratula" name="caratula" formControlName="caratulaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imagenOption.id" *ngFor="let imagenOption of caratulas; trackBy: trackImagenById">{{imagenOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tiendaOnlineApp.videoJuegos.compannia" for="field_compannia">Compannia</label>
                    <select class="form-control" id="field_compannia" name="compannia" formControlName="companniaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companniaOption.id" *ngFor="let companniaOption of compannias; trackBy: trackCompanniaById">{{companniaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="tiendaOnlineApp.videoJuegos.plataforma" for="field_plataformas">Plataforma</label>
                    <select class="form-control" id="field_plataformas" multiple name="plataformas" formControlName="plataformas">
                        <option [ngValue]="getSelected(editForm.get('plataformas').value, plataformaOption)" *ngFor="let plataformaOption of plataformas; trackBy: trackPlataformaById">{{plataformaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="tiendaOnlineApp.videoJuegos.categoria" for="field_categorias">Categoria</label>
                    <select class="form-control" id="field_categorias" multiple name="categorias" formControlName="categorias">
                        <option [ngValue]="getSelected(editForm.get('categorias').value, categoriaOption)" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
