<div class="d-flex">
    <div class="">
        <button class="btn btn-info" routerLink="/video-juegos">
            <fa-icon [icon]="'arrow-left'">
            <span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active"><img class="img-fluid" alt="{{videoJuegos.titulo}}" [src]="url" /></div>
                        </div>
                    </div>
                    <div class="details col-6">
                        <h3 class="product-title">{{videoJuegos.titulo}}</h3>
                        <span class="small">{{videoJuegos.compannia.nombre}}</span>
                        <p class="product-description">{{videoJuegos.sinopsis}}</p>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star" [ngClass]="videoJuegos.valoracion>=1 ? 'checked' : '' "></span>
                                <span class="fa fa-star" [ngClass]="videoJuegos.valoracion>=2 ? 'checked' : '' "></span>
                                <span class="fa fa-star" [ngClass]="videoJuegos.valoracion>=3 ? 'checked' : '' "></span>
                                <span class="fa fa-star" [ngClass]="videoJuegos.valoracion>=4 ? 'checked' : '' "></span>
                                <span class="fa fa-star" [ngClass]="videoJuegos.valoracion>=5 ? 'checked' : '' "></span>
                            </div>
                            <!--<span class="review-no">41 reviews</span>-->
                        </div>
                        <div class="rating text-right" [ngSwitch]="videoJuegos.pegi">
                            <img *ngSwitchCase="'PEGI3'" alt="PEGI3" src="../../../content/images/PEGI3.png" width="55px" height="64px">
                            <img *ngSwitchCase="'PEGI7'" alt="PEGI7" src="../../../content/images/PEGI7.png" width="55px" height="64px">
                            <img *ngSwitchCase="'PEGI12'" alt="PEGI12" src="../../../content/images/PEGI12.png" width="55px" height="64px">
                            <img *ngSwitchCase="'PEGI16'" alt="PEGI16" src="../../../content/images/PEGI16.png" width="55px" height="64px">
                            <img *ngSwitchCase="'PEGI18'" alt="PEGI18" src="../../../content/images/PEGI18.png" width="55px" height="64px">
                        </div>
                        <h5 class="product-description"><b>Platafomas:</b>
                            <span *ngFor="let plat of videoJuegos.plataformas" class="small"><i>{{plat.nombre}}, </i></span>
                        </h5>
                        <h5 class="product-description"><b>Categorias:</b>
                            <span *ngFor="let cat of videoJuegos.categorias" class="small"><i>{{cat.nombre}}, </i></span>
                        </h5>
                        <p class="product-description"><b>Stock disponible: </b>{{videoJuegos.stock}}</p>
                        <h4 class="price text-right"><span>{{videoJuegos.precio | currency:'EUR':true}}</span></h4>
                        <div class="action text-right">
                            <button class="add-to-cart btn btn-default" jhiTranslate="entity.action.edit" type="button" (click)="openEditModal()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
